@model ERPS.ServiceLayer.Models.EmployeesHRModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Index";
}

<style>
    .table1 {
        border: 2px solid #eee;
    }

        .table1 td {
            padding: 10px;
        }



</style>

<table class="table" border="1">
    <tr style="font-weight:700">

        <td>Name</td>
        <td>LastName</td>
        <td>DateOfBirth</td>
        <td>Address</td>
        <td>Description</td>
        <td>DateOfHiring</td>
        <td>Passport</td>
        <td>Phone</td>
        <td>SocialId</td>
       
    </tr>
  
    @foreach (var item in Model.ListOFEmployee)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.LastName</td>
            <td>@item.DateOfBirth</td>
            <td>@item.Address</td>
            <td>@item.Description</td>
            <td>@item.DateOfHiring</td>
            <td>@item.Passport</td>
            <td>@item.Phone</td>
            <td>@item.SocialId</td>
            <td>@Html.ActionLink("Edit", "Index", new { id = item.Id }) </td>
            <td>@Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id }) </td> 
        </tr>
    }
</table>

<td>@Html.ActionLink("AddEmployee", "Index", "AddEmployee") |</td>
<td>@Html.ActionLink("GetCandidates", "Index", "GetCandidates") </td>
