@{
    Layout = "~/Views/Shared/_LayoutFinance.cshtml";
}
<h1>Salary Details</h1>
@model ERPS.ServiceLayer.Models.EmployeeFinanceModel
@using (Html.BeginForm("actionName", "controllerName", FormMethod.Post, new { id = "my-form" }))
{
    @Html.HiddenFor(x => x.Id)<br />
    <td><input value="First Name" readonly /></td><br />
    @Html.TextBoxFor(x => x.Name)<br />
	<td><input value="Last Name" readonly /></td><br />
	@Html.TextBoxFor(x => x.Name)<br />
    <td><input value="Salary" readonly /></td><br />
    @Html.TextBoxFor(x => x.Salary)<br />

    <input type="button" value="Submit" id="form-submit" />
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	$(document).on('click', '#form-submit', function () {
		$.ajax({
			url: "@ViewBag.urlBase" + "@ViewBag.UpdateEmployee",
			type: "POST",
			data: $('form#my-form').serialize(),
			success: function (result) {
				window.location.href = '/Finance/GetEmployees'
			},
		});
	});
</script>


